h1 {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
}

h2 {
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 767px) {
  h2 {
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

h3 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
}
@media (max-width: 767px) {
  h3 {
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

h4 {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
}
@media (max-width: 767px) {
  h4 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
  }
}

h5 {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
}
@media (max-width: 767px) {
  h5 {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
}

.paragraph-l {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.cardFont {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.cardFontLearnMore {
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
}

.paragraph-s {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.logo_subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.btnFont {
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
}

h1 {
  color: #545454 !important;
}

.paragraph-l {
  color: #545454 !important;
}

.logo_subtitle {
  color: #545454 !important;
}

a {
  color: #545454 !important;
}

.burgerBtn span {
  background-color: #000000 !important;
}
.burgerBtn::before, .burgerBtn::after {
  background-color: #000000 !important;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  padding: 0;
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a.text {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
@media (max-width: 1100px) {
  .wrapper {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.clearBox {
  height: 120px;
}

header {
  width: 100%;
  position: absolute;
}
@media (max-width: 1100px) {
  header {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}
header .logoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
header .logoContainer .logo_subtitle {
  padding-left: 4px;
}
header .wrapperHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
@media (max-width: 1100px) {
  header .wrapperHeader {
    padding-top: 0px;
  }
}
header .burgerBtn {
  z-index: 1;
  transition: all 1s;
}
@media (max-width: 767px) {
  header .burgerBtn {
    position: relative;
    width: 20px;
    height: 22px;
    margin: 0 20px 0 0;
  }
  header .burgerBtn span {
    position: absolute;
    background-color: #F1CDB3;
    width: 30px;
    height: 2px;
    top: 10px;
  }
  header .burgerBtn::before, header .burgerBtn::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
  }
  header .burgerBtn::before {
    top: 0;
  }
  header .burgerBtn::after {
    bottom: 0;
  }
}
header .activeBurger {
  transform: rotate(90deg);
  transition: all 1s;
}
@media (max-width: 767px) {
  header nav {
    display: none;
  }
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  padding-left: 36px;
}
header .mobileMenu {
  position: absolute;
  display: none;
  transition: all 1s;
}
@media (max-width: 767px) {
  header .mobileMenu {
    display: none;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    top: 0;
    right: -100%;
    height: 110vh;
    transition: all 1s;
    overflow: hidden;
  }
  header .mobileMenu .containerDark {
    background-color: #292929;
    opacity: 0.4;
    width: 100%;
  }
  header .mobileMenu .containerMenuLinks {
    background-color: #292929;
    min-width: 320px;
    height: 100%;
    right: 0;
    margin-right: 0;
  }
  header .mobileMenu .containerMenuLinks nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .mobileMenu .containerMenuLinks nav ul {
    flex-direction: column;
    justify-content: center;
  }
  header .mobileMenu .containerMenuLinks nav ul li {
    padding: 40px 0;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  header .showMenu {
    display: flex;
  }
}
header a {
  color: #CDCDCD;
  position: relative;
}
@media (max-width: 1100px) {
  header a {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
}
@media (max-width: 1100px) and (max-width: 767px) {
  header a {
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
  }
}
@media (max-width: 1100px) {
  header a:active::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #F1CDB3;
    bottom: 0;
  }
  header a:hover {
    color: #FFFFFF;
  }
}
header a #logoLink {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
header .logo_title {
  margin: 0 0 10px 0;
  color: #F1CDB3;
}
header #activeLink {
  position: relative;
}
header #activeLink::before {
  content: "";
  position: absolute;
  transform: translate(0, 5px);
  height: 3px;
  width: 100%;
  background-color: #F1CDB3;
  bottom: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.ourFriends {
  background-color: #F6F6F6;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ourFriends .wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ourFriends .wrapper .wrapperOurFriends {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .ourFriends .wrapper .wrapperOurFriends {
    padding: 0 0 42px 0;
  }
}
.ourFriends .wrapper .wrapperOurFriends .titleOurFriends {
  max-width: 400px;
  margin: 0 auto;
  padding: 80px 0 60px 0;
}
@media (max-width: 1100px) {
  .ourFriends .wrapper .wrapperOurFriends .titleOurFriends {
    padding: 80px 0 30px 0;
  }
}
@media (max-width: 767px) {
  .ourFriends .wrapper .wrapperOurFriends .titleOurFriends {
    padding: 42px 0 45px 0;
  }
}
.ourFriends .wrapper .wrapperOurFriends .titleOurFriends h3 {
  text-align: center;
}
.ourFriends .wrapper .wrapperOurFriends .titleOurFriends .searchInput {
  height: 50px;
  min-width: 300px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 0 0;
  border-radius: 10px;
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: 1fr 1fr;
  gap: 0px 40px;
}
@media (max-width: 1250px) {
  .ourFriends .wrapper .wrapperOurFriends .cardContainer {
    grid-template-columns: 270px 270px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 40px;
  }
}
@media (max-width: 767px) {
  .ourFriends .wrapper .wrapperOurFriends .cardContainer {
    grid-template-columns: 1fr;
  }
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 30px;
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card:hover {
  background-color: #FFFFFF;
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card p {
  padding: 30px 0;
  text-align: center;
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .cardPetPic {
  width: 100%;
  height: 270px;
  margin: 0 auto;
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Katrine {
  background-image: url("../../../assets/Our Friend/Pets/pets-katrine.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Jennifer {
  background-image: url("../../../assets/Our Friend/Pets/pets-jennifer.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Woody {
  background-image: url("../../../assets/Our Friend/Pets/pets-woody.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Sophia {
  background-image: url("../../../assets/Our Friend/Pets/pets-sophia.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Timmy {
  background-image: url("../../../assets/Our Friend/Pets/pets-timmy.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Charly {
  background-image: url("../../../assets/Our Friend/Pets/pets-charly.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Scarlett {
  background-image: url("../../../assets/Our Friend/Pets/pets-scarlett.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .Freddie {
  background-image: url("../../../assets/Our Friend/Pets/pets-freddie.png");
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card .cardBtnLearnMore {
  border: 2px solid #F1CDB3;
  height: 50px;
  width: 185px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card:hover {
  cursor: pointer;
}
.ourFriends .wrapper .wrapperOurFriends .cardContainer .card:hover .cardBtnLearnMore {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer .roundBox {
  margin: 30px 10px 100px;
  height: 52px;
  width: 52px;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1100px) {
  .ourFriends .wrapper .wrapperOurFriends .btnContainer .roundBox {
    margin: 10px 10px 76px;
  }
}
@media (max-width: 767px) {
  .ourFriends .wrapper .wrapperOurFriends .btnContainer .roundBox {
    margin: 8px 5px 0px;
  }
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer .roundBox h4 {
  text-align: center;
  color: #CDCDCD;
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer .curent {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer .curent h4 {
  color: #292929;
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer .unlock {
  border: 2px solid #F1CDB3;
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer .unlock h4 {
  color: #292929;
}
.ourFriends .wrapper .wrapperOurFriends .btnContainer .unlock:hover {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

header {
  padding-top: 0;
}
@media (max-width: 1100px) {
  header {
    padding-top: 30px;
  }
}
@media (max-width: 1100px) {
  header .logoContainer {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  header .logoContainer {
    padding-left: 10px;
  }
}

footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
footer .footerWrapper {
  display: flex;
  flex-direction: row;
  padding: 56px 0 0 0;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  footer .footerWrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px 0 0 0;
  }
}
footer .footerWrapper h3 {
  display: block;
  max-width: 280px;
  color: #FFFFFF;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  footer .footerWrapper {
    padding: 30px 0 0 0;
  }
}
footer .footerWrapper .footerColumnOne div, footer .footerWrapper .footerColumnTwo div, footer .footerWrapper .footerColumnThree div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnOne div, footer .footerWrapper .footerColumnTwo div, footer .footerWrapper .footerColumnThree div {
    justify-content: center;
  }
}
footer .footerWrapper .footerColumnOne div h4, footer .footerWrapper .footerColumnTwo div h4, footer .footerWrapper .footerColumnThree div h4 {
  padding-left: 20px;
  color: #F1CDB3;
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnOne div h4, footer .footerWrapper .footerColumnTwo div h4, footer .footerWrapper .footerColumnThree div h4 {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
  }
}
footer .footerWrapper .footerColumnOne div a, footer .footerWrapper .footerColumnTwo div a, footer .footerWrapper .footerColumnThree div a {
  color: #F1CDB3 !important;
}
@media (max-width: 1100px) {
  footer .footerWrapper .footerColumnOne {
    padding-left: 5px;
  }
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnOne {
    padding-left: 0px;
  }
}
footer .footerWrapper .footerColumnTwo {
  padding-right: 10px;
}
@media (max-width: 1100px) {
  footer .footerWrapper .footerColumnTwo {
    padding-right: 11px;
  }
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnTwo {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnTwo .boston {
    margin: 6px 0 46px -4px;
  }
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnTwo .london {
    margin: 6px 0 0 -4px;
  }
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnTwo h3 {
    margin: 0 auto;
    display: block;
    max-width: 270px;
  }
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnTwo div {
    justify-content: start;
  }
}
footer .footerWrapper .footerColumnThree {
  margin-top: -18px;
}
@media (max-width: 1100px) {
  footer .footerWrapper .footerColumnThree {
    margin-top: 0;
    padding-top: 24px;
  }
}
@media (max-width: 767px) {
  footer .footerWrapper .footerColumnThree {
    padding-top: 40px;
  }
  footer .footerWrapper .footerColumnThree img {
    max-width: 260px;
  }
}

.popUp {
  position: sticky;
  bottom: 0;
}

.popUpWrapper {
  height: 110vh;
  width: 100%;
  background: rgba(41, 41, 41, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popUpWrapper .popUpContainer {
  max-width: 952px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1100px) {
  .popUpWrapper .popUpContainer {
    margin: 0 10px;
  }
}
.popUpWrapper .popUpContainer .btnPopup {
  position: absolute;
  right: 10px;
  top: -52px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.popUpWrapper .popUpContainer .btnPopup img {
  width: 12px;
  height: 12px;
  margin: 0 auto;
}
.popUpWrapper .popUpContainer .popUpPlace {
  background-color: #FFFFFF;
  border-radius: 9px;
  margin: 0 52px 0 0;
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .popUpWrapper .popUpContainer .popUpPlace {
    margin: 0 30px;
  }
}
.popUpWrapper .popUpContainer .popUpPlace .imgPet {
  min-height: 500px;
  min-width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1100px) {
  .popUpWrapper .popUpContainer .popUpPlace .imgPet {
    min-height: 350px;
    min-width: 350px;
  }
}
@media (max-width: 767px) {
  .popUpWrapper .popUpContainer .popUpPlace .imgPet {
    display: none;
  }
}
.popUpWrapper .popUpContainer .popUpPlace .textArea {
  padding: 50px 20px 10px 30px;
}
@media (max-width: 1100px) {
  .popUpWrapper .popUpContainer .popUpPlace .textArea {
    padding: 10px 9px 0 11px;
  }
}
@media (max-width: 767px) {
  .popUpWrapper .popUpContainer .popUpPlace .textArea {
    width: 100%;
  }
}
.popUpWrapper .popUpContainer .popUpPlace .textArea h3 {
  padding-bottom: 10px;
}
.popUpWrapper .popUpContainer .popUpPlace .textArea h4, .popUpWrapper .popUpContainer .popUpPlace .textArea p {
  padding-bottom: 40px;
}
@media (max-width: 1100px) {
  .popUpWrapper .popUpContainer .popUpPlace .textArea h4, .popUpWrapper .popUpContainer .popUpPlace .textArea p {
    padding-bottom: 20px;
  }
}
@media (max-width: 1100px) {
  .popUpWrapper .popUpContainer .popUpPlace .textArea p {
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-align: left;
  }
}
.popUpWrapper .popUpContainer .popUpPlace .textArea li {
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1100px) {
  .popUpWrapper .popUpContainer .popUpPlace .textArea li {
    padding: 0 0 6px 0;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .popUpWrapper .popUpContainer .popUpPlace .textArea li {
    flex-wrap: wrap;
  }
}
.popUpWrapper .popUpContainer .popUpPlace .textArea li::before {
  content: "";
  margin: auto 10px auto 0;
  width: 4px;
  height: 4px;
  background-color: #F1CDB3;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */