.wrapperHelp {
    padding-top:80px;
    @include flex-columns;
    @include media-mobile {
        padding-top:42px;
    }
    .helpTitle {
        margin: 0 auto;
        h3{
            text-align: center;
        }
    }
    .helpList {
        @include flex-row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px 119px;
        margin: 60px auto 42px;
        width: 85.5%;
        @include media-tablet {
            width: 690px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0px 0px;
            margin-bottom: 45px;
        }
        @include media-mobile {
            width: 100%;
            grid-template-columns: 1fr 1fr;
            gap: 17px 20px;
            margin: 42px auto 46px;
        }
        .wrapperOnePositionHelpList{
            position: relative;
            img {
                display: block;
                margin: 0 auto;
                @include media-mobile {
                    height: 50%;
                }
            }
        }

        // .helpListRowTop  {
        //     @include flex-row;
        //     justify-content:space-between;
        // }
        // .helpListRowBottom {
        //     @include flex-row;
        //     justify-content:space-around;
        // }
        h4 {
            display: block;
            text-align: center;
            padding: 30px 0 55px 0  ;
            color: $color-text-main-addtional;
            @include media-mobile {
                line-height: 17px;
                font-size: 15px;
                padding: 22px 0 0 0  ;
            }

        }
    }

}