.inAddition {
    background-color: $color-background;
}
.wrapperInAddition {
   
    @include flex-row;
    justify-content: center;
    padding: 83px 0 100px 0;
    margin: 0 auto;
    @include media-tablet {
        padding: 80px 0 100px 0;
        @include flex-columns;
        
    };
    @include media-mobile {
        padding: 30px 10px;
    };
    #imgInAddition{
        display: block;
        @include media-tablet {
            width: 100%;
            max-width: 505px;
            margin: 0 auto ;
            order: 2;
        }
        @include media-mobile {
            max-width: 260px;
            margin: 0 auto 13px;
        }
        
    }
    .inAdditionTextContainer{
        width: 100%;
        margin-left: 30px;
        max-width: 380px;
        @include media-tablet {
            margin: 0 auto 60px;
        }
        @include media-mobile {
            margin: 0 auto 42px;
            .paragraph-s {
                text-align: justify;
            }
        }
        h3{
            padding-bottom: 20px;
        }
        h5 {
            padding-bottom: 20px;
        }
        .creditCard {
            @include flex-row;
            justify-content:center;
            max-width: 350px;
            background-color: $color-primary;
            border-radius: 9px;
            margin-bottom: 20px;
            @include media-mobile {
            }
            img {
                padding-left: 12px;
                @include media-tablet {
                    padding-left: 12px;
                }
            }
            h4{
                padding: 10px 15px;
                @include media-mobile {
                    padding: 13px 15px;
                }
            }
            a {                
            color: $color-text-main-addtional;
            }
        }
        p {
            color: $color-text-addtional-light;
        }
        
    }
}