$color-primary: #F1CDB3;
$color-primary-hover: #FDDCC4;
$color-background: #F6F6F6;
$color-background-addition: #FAFAFA;
$color-hover-card: #FFFFFF;
$color-background-gradient-start: #5B483A;
$color-background-gradient-end: #262425;
$color-text: #CDCDCD;
$color-unlock-btn: #CDCDCD;
$color-text-main: #FFFFFF;
$color-text-main-addtional:#545454;
$color-text-addtional-light: #B2B2B2;
$color-text-addtional: #292929;
$color-hovered: #BCD0E5;
$color-btnBrgMenu: #000000;
$color-backgroundBrgMenu: #292929;


$content-width: 1280px;
$tablet-width: 1100px;
$mobile-width: 767px;