.wrapper_form{
    display: flex;
    justify-content: center;
    align-content: space-between;    
    padding-bottom: 30px;
}

.main_wrapper,.wrapper_form,.wrapper_form_element{
    min-height: 300px;
}

.default_input{
    padding: 10px;
    border-radius: 10px;    
}

.wrapper_form_element{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
}

.no_resize{
    resize: none;
}

.btn{
    padding: 10px;
    max-width: 200px;
    background-color: #5B483A;
    color: #fff;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;    
}

.center_text{
    text-align: center;
}